*
{
margin:0px;
padding:0px;
font-family: Arial, "MS Trebuchet", sans-serif;
}
#container
{
margin:auto;
position:relative;
width:100%;
max-width:1375px;
height:500px;
margin-bottom:100px;
}
body
{
background:#202024;
}
#line
{
width:100%;
max-width:1380px;
height:5px;
background:#ffa273;
}
#header
{
margin:auto;
position:relative;
height:230px;
max-width:1375px;
border:1px solid #2c2d2f;
}
		#header h2
		{
		margin:auto;
		position:relative;
		width:1300px;
		margin-top:-20px;
		text-align:center;
		font-size: 15px;
		color:white;
		font-family: times;
		font-style:italic;
		margin-bottom:20px;
		font-weight: normal;
		}
#basta
{
margin:auto;
height:190px;
margin:5px;
max-width:1375px;
}
		#basta h1
		{
		margin:auto;
		width:1370px;
		text-align:center;
		text-transform:uppercase;
		color:white;
		font-weight:bold;
		line-height:190px;
		font-size:200px;
		}
#nav
{
margin:auto;
width:1375px;
height:40px;
}
		#nav
		{
		margin:auto;
		position:relative;
		width:1370px;
		text-align:center;
		}
			#nav a
			{
			margin:auto;
			position:relative;
			text-align:center;
			text-decoration:none;
			color:#c5b7a6;
			margin-right:10px;
			line-height:20px;
			font-weight: normal;
			font-size:20px;
			}
				#nav a:hover
				{
				color:#ffa273;
				}
#frame1
{
margin:auto;
position:relative;
width:1005px;
height:60px;
margin-top:10px;
}
		#line1
		{
		margin:auto;
		width:100%;
		max-width:1300px;
		height:5px;
		margin-top:5px;
		background:#ffa273;
		}
				#line2
				{
				margin:auto;
				width:100%;
				max-width:1300px;
				height:5px;
				margin-top:6px;
				background:#ffa273;
				}
#contactme
{
margin:auto;
position:relative;
background:black;
height:340px;
}
		#contactme h1
		{
		margin:auto;
		position:relative;
		color:white;
		font-weight: normal;
		margin-left:130px;
		padding-top:10px;
		font-size: 20px;
		float:left;
		}
						#contactme h2
						{
						margin:auto;
						position:relative;
						color:white;
						font-weight: normal;
						margin-left:190px;
						padding-top:40px;
						font-size: 20px;
						text-align:left;
						}
							#contactme textarea
							{
							width:800px;
							margin-top:-20px;
							margin-left:340px;
							}
								#contactme button
								{
								font-size:20px;
								margin-left:340px;
								padding:5px;
								}

#footer_link
{
margin:auto;
font-size:14px;
font-weight: normal;
width:960px;
height:130px;
margin-top:5px;
line-height:100px;
}
#footer_link a
{
color:white;
text-decoration:none;
margin-right:7px;
}
#footer_link a:hover
{
text-decoration:underline;
}
#footer_link p
{
margin-top:-70px;
color:grey;
}
#multi
{
margin-top:-100px;
float:right;
}
	#multi a:hover
	{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	}
#Logo
{
margin:auto;
line-height:85px;
font-size:24px;
color:white;
}
#line3
{
margin:auto;
width:100%;
max-width:1300px;
height:5px;
background:#ffa273;
}


